
<br>


<h1>{{titulo}}</h1>
  <hr>



<div class="row animated fadeIn fast" *ngIf="peliculas">

  <div class="col-sm-6">

    <div class="row">
      <div class="col-md-12 div-pic-1"
          [ngStyle]="{ 'background-image': 'url( '+ ( peliculas[0] | filmImage) +' )'  }">
          <label for="" class="badge badge-pill badge-primary">{{peliculas[0] | titleOk | slice:0:19}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 div-pic-2"
            [ngStyle]="{ 'background-image': 'url( '+ ( peliculas[1] | filmImage) +' )'  }">
            <label for="" class="badge badge-pill badge-primary">{{peliculas[1] | titleOk | slice:0:19}}</label>
      </div>
      <div class="col-sm-6 div-pic-2"
            [ngStyle]="{ 'background-image': 'url( '+ ( peliculas[2] | filmImage) +' )'  }">
            <label for="" class="badge badge-pill badge-primary">{{peliculas[2] | titleOk | slice:0:19}}</label>
      </div>
    </div>

  </div>

  <div class="col-sm-6">


    <div class="row">
      <div class="col-sm-6 div-pic-2"
            [ngStyle]="{ 'background-image': 'url( '+ ( peliculas[3] | filmImage) +' )'  }">
            <label for="" class="badge badge-pill badge-primary">{{peliculas[3] | titleOk | slice:0:19}}</label>
      </div>
      <div class="col-sm-6 div-pic-2"
            [ngStyle]="{ 'background-image': 'url( '+ ( peliculas[4] | filmImage) +' )'  }">
            <label for="" class="badge badge-pill badge-primary">{{peliculas[4] | titleOk | slice:0:19}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 div-pic-1"
            [ngStyle]="{ 'background-image': 'url( '+ ( peliculas[5] | filmImage) +' )'  }">
            <label for="" class="badge badge-pill badge-primary">{{peliculas[5] | titleOk | slice:0:19}}</label>
    </div>
  </div>

  </div>





</div>
