<h3 class="text-center">Resultados de la búsqueda</h3>
<div class="mt-4 row card-columns">
  <div  *ngFor="let peli of peliculas; let i = index">
    <div class="card ml-2" style="width: 16rem;">

        <img [src]="peli | filmImage"  class="div-pic-1" [alt]="peli | titleOk">


      <div class="card-body">
        <h5 class="badge badge-pill badge-primary">{{peli | titleOk | slice:0:29}}</h5>
        <p class="card-text">{{peli.overview | slice:0:200}} ...</p>
        <a href="#" class="btn btn-outline-primary btn-block">Leer mas</a>
      </div>
    </div>




  </div>
</div>
